<div class="card">
<mat-card  >
<!-- <mat-chip-list class="chips-container">
<mat-chip>
{{r.payload}}
</mat-chip>
</mat-chip-list> -->
<mat-card-header>
<mat-card-title>
  NOME
<!-- {{r.messages.text}} -->
</mat-card-title>
</mat-card-header>
<mat-divider></mat-divider>
<mat-card-content>
<textarea matInput class="textarea">

</textarea>
</mat-card-content>
<mat-card-actions class="actions-container">
<button mat-raised-button color="primary" (click)="next()">test1</button>
</mat-card-actions>
</mat-card>
</div>

<div class="card">
        <mat-card  >
        <!-- <mat-chip-list class="chips-container">
        <mat-chip>
        {{r.payload}}
        </mat-chip>
        </mat-chip-list> -->
        <mat-card-header>
        <mat-card-title>
          SI FLUSSO
        <!-- {{r.messages.text}} -->
        </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
        <button mat-raised-button>VAI A -></button>
        
       
        </mat-card-content>
        <mat-card-actions class="actions-container">
        <button mat-raised-button color="primary"  class="content-button" (click)="next()">test1</button>
        </mat-card-actions>
        </mat-card>
        </div>
        

        <div class="card">
                <mat-card  >
                <!-- <mat-chip-list class="chips-container">
                <mat-chip>
                {{r.payload}}
                </mat-chip>
                </mat-chip-list> -->
                <mat-card-header>
                <mat-card-title>
                   NO FLUSSO
                <!-- {{r.messages.text}} -->
                </mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                <input matInput class="textarea">
                </mat-card-content>
                <mat-card-actions class="actions-container">
                <button mat-raised-button color="primary" (click)="next()">test1</button>
                </mat-card-actions>
                </mat-card>
                </div>


                <div class="card">
                        <mat-card  >
                        <!-- <mat-chip-list class="chips-container">
                        <mat-chip>
                        {{r.payload}}
                        </mat-chip>
                        </mat-chip-list> -->
                        <mat-card-header>
                        <mat-card-title>
                            FALLBACK
                        <!-- {{r.messages.text}} -->
                        </mat-card-title>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                        <input matInput class="textarea">
                        </mat-card-content>
                        <mat-card-actions class="actions-container">
                        <button mat-raised-button color="primary" (click)="next()">test1</button>
                        </mat-card-actions>
                        </mat-card>
                        </div>